<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <h1>Добро пожаловать, {{ user.username }} !</h1>
        <p align="right"><a href="{% url 'redaction'%}">Редактировать профиль</a> | <a href="{% url 'logout' %}">Выход</a><p>
        <p align="right"><a href="{% url 'your_account'%}">Информация о вашем аккаунте</a></p>
        <p><a href="{% url 'add_post'%}">Добавить пост</a></p>
        {% for post in posts %}
            <h2>{{ post.title }}</h2>
            {% if post.imagine %}
                <div><img src="{{ post.imagine.url }}" alt="" width="250px" height="250px"></div>
            {% endif %}
            <div>{{ post.text }}</div>
            {% for com in comments %}
                {% if post.id == com.post_id %}
                <div style="background: #808080">
                    <details>
                        <summary>Показать комментарии</summary>
                        <b>{{ com.user }}</b>:{{ com.text }}
                    </details>
                </div>
                {% endif %}
            {% endfor %}
            <div>{{ post.likes }}</div>
        {% endfor %}
    {% else %}
    Для просмотра данного раздела нужно авторизоваться или зарегистрировать!
    <p><a href="{% url 'login' %}">Авторизация</a></p>
    <p><a href="{% url 'register' %}">Регистрация</a></p>
    {% endif %}
</body>
</html>