<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        {% if post.imagine %}
            <div><img src="{{ post.imagine.url }}" alt="" width="150px" height="150px"></div>
        {% endif %}
        <div>{{ post.text }}</div>
        {% for com in comments %}
            {% if post.id == com.post_id %}
            <div style="background: #808080">
                <details>
                    <summary>Показать комментарии</summary>
                    {{ com.text }}
                </details>
            </div>
            {% endif %}
        {% endfor %}
        <div>{{ post.likes }}</div>
    {% endfor %}
</body>
</html>