<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация пользователя</h1>
<form method="POST">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div style="background: #c0c0c0; color:#ff0000">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Регистрация</button>
    <span>
        <a href="{% url 'main_page' %}"><p><- На главную страницу</a>
    </span>

</form>
</body>
</html>