<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация об аккаунте</title>
</head>
<body>
<h1>Данные вашего аккаунта {{ user.username }}</h1>
<p align="right"><a href="{% url 'account' %}"}>Вернутся обратно</a></p>
{% for account in profile %}
    {% if account.user_id == user.pk %}
    <p> Ваш аватар:</p>
    {% if account.photo %}
        <div><img src="{{ account.photo.url }}" alt="" width="100px" height="100px"></div>
    {% endif %}
    <p><b>Ваша имя:</b> {{account.user.first_name}}</p>
    <p><b>Ваша фамилия:</b> {{account.user.last_name}}</p>
    <p><b>Ваш email:</b> {{account.user.email}}</p>
    <p><b>Ваша дата рождения:</b> {{ account.date_of_birth|date:" M d,Y" }}</p>
    {% endif %}
{% endfor %}

<b>Ваши посты:</b>
<hr align="center" width="100%" size="2" color="#ff0000" />
{%for post in posts %}
    {% if post.user_id == user.pk %}
        <h4>{{ post.title }}</h4>
        {% if post.imagine %}
            <div><img src="{{ post.imagine.url }}" alt="" width="250px" height="250px"></div>
        {% endif %}
        <div>{{ post.text }}</div>
        {% if post.user_id == user.pk %}
            <p align="right"><a href="/edit_post/{{post.pk}}">Редактировать пост</a>|<a href="/delete_post/{{post.pk}}">Удалить пост</a></p>
        {% endif %}
        <p align="right">Пост создал:<b>{{ post.user.username }}</b></p>
        <hr align="center" width="100%" size="2" color="#ff0000" />
    {% endif %}
{% endfor %}


</body>
</html>