{% extends 'base.html' %}

{% block content %}
<h1>Редактирование данных профиля {{ user.username }}</h1>
<p>Ваши данные:</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.as_p }}
      {% for account in image %}
        {% if account.user_id == user.pk %}
        <p> Ваш аватар:</p>
            {% if account.photo %}
                <div><img src="{{ account.photo.url }}" alt="" width="100px" height="100px"></div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <p><input type="submit" value="Save changes"></p>
</form>
<a href="{% url 'site' %}"}>Отмена редактирования</a>
{% endblock %}