            <form class="d-flex" role="search" action="{% url 'search_user' %}" method="GET">
                    <input class="form-control me-2" type="text" name="q" placeholder="Поиск" aria-label="Поиск" />
                    <input class="btn btn-outline-success" type="submit" />
<!--                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">-->
<!--                <button class="btn btn-outline-success" type="submit">Найти</button>-->
            </form>